<template>
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-header bg-dark text-white">Inspection Booking Form</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div v-if="successMsg" class="alert alert-success" role="alert">
                                    {{ successMsg }}
                                </div>
                                <div v-if="errorMsg" class="alert alert-warning" role="alert">
                                    {{ errorMsg }}
                                </div>
                            </div>
                            <div class="col-3">
                                <label>User ID</label>
                            </div>
                            <div class="col-6">
                                <label>Date</label>
                            </div>
                            <div class="col-3">
                                <label>Time</label>
                            </div>
                            <div class="col-3">
                                <input type="number" class="form-control" min="1" v-model="userId">
                                <small class="text-muted">
                                    For imitating logged in user purpose
                                </small>
                            </div>
                            <div class="col-6">
                                <vue-ctk-date-time-picker
                                    v-model="date"
                                    no-label
                                    no-button-now
                                    no-value-to-custom-elem
                                    only-date
                                    auto-close
                                    no-button
                                    label="Select Date"
                                    color="#343a40"
                                    format="YYYY-MM-DD"
                                    formatted="dddd, LL"
                                    :min-date="startDate"
                                    :max-date="endDate"
                                    :disabled-weekly="[0]"
                                    :disabled="isDateDisabled"
                                    @input="checkDate()">
                                </vue-ctk-date-time-picker>
                            </div>
                            <div class="col-3">
                                <vue-timepicker
                                    v-model="time"
                                    close-on-complete
                                    hide-clear-button
                                    input-width="100%"
                                    hour-label="Hour"
                                    minute-label="Minute"
                                    :minute-interval="30"
                                    :hour-range="enabledHours"
                                    :minute-range="enabledMinutes"
                                    :disabled="isTimeDisabled"
                                    @change="checkTime($event)">
                                </vue-timepicker>
                                <small class="text-muted">
                                    Fully booked time (2 slots weekdays, 4 slots Saturday) or time booked by same user id are disabled
                                </small>
                            </div>
                            <div class="col-12 mt-5">
                                <button class="btn btn-dark btn-lg w-100" :disabled="isSubmitDisabled" @click="submitInspectionBookingForm()">
                                    Book inspection slot
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
    import VueTimepicker from 'vue2-timepicker'

    export default {
        components: {
            VueCtkDateTimePicker,
            VueTimepicker
        },
        props: {
            // API URL props from blade file
            apiCreateInspectionBookingUrl: {
                type: String,
                default: ''
            },
            apiGetInspectionBookingUnavailableTimeSlotsUrl: {
                type: String,
                default: ''
            }
        },
        mounted() {
            $("[type='number']").keypress(function (e) { // Prevent keyboard input on user id field
                e.preventDefault();
            });
        },
        data() {
            return {
                userId: '',
                date: '',
                time: 'HH:mm',
                isDateDisabled: true,
                isTimeDisabled: true,
                isSubmitDisabled: true,
                successMsg: '',
                errorMsg: '',
                enabledHours: [9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
                enabledMinutes: [],
                unavailableTimeSlots: {},
            };
        },
        computed: {
            startDate() { // Starting available date on Datepicker
                let date = moment(); // Get current date

                // If today is Sunday, add 1 day as default
                if (date.weekday() == 0) {
                    date.add(1, 'd');
                }

                return date.format('YYYY-MM-DD');
            },
            endDate() { // Last available date on Datepicker
                return moment().add(3, 'w').subtract(1, 'd').format('YYYY-MM-DD'); // Set maximum available date to be next 3 weeks
            },
        },
        watch: {
            // On value change of user id field
            'userId': function (value) {
                this.isSubmitDisabled = true; // Disable submit button
                this.time = "HH:mm"; // Clear time field
                this.enabledMinutes = []; // Disable minutes since time field is cleared

                value ? this.isDateDisabled = false : this.isDateDisabled = true; // Enable/Disable date field based on user id value

                if (this.date) {
                    this.getInspectionBookingUnavailableTimeSlots();
                    this.isTimeDisabled = false;
                } else {
                    this.isTimeDisabled = true;
                }
            }
        },
        methods: {
            // On select any date or cleared date
            checkDate() {
                this.isSubmitDisabled = true; // Disable submit button
                this.getInspectionBookingUnavailableTimeSlots(); // Call get unavailable time slots API
                this.time = "HH:mm"; // Set time to always be empty whenever date changes
                this.enabledMinutes = [];

                this.date ? this.isTimeDisabled = false : this.isTimeDisabled = true; // Enable/Disable time field based on date value
            },
            // On change of time (by select or cleared)
            checkTime(eventData) {
                !eventData.data.H ? this.enabledMinutes = [] : this.enabledMinutes = [0, 30]; // Default enabled minutes
                // Checking unavailable time slots for selected hour
                this.unavailableTimeSlots.forEach(element => {
                    // Remove minute from this.enabledMinutes array if hour matches
                    if (eventData.data.H == element.hour) {
                        let indexOfMinute = this.enabledMinutes.indexOf(element.minute);
                        this.enabledMinutes.splice(indexOfMinute, 1); 
                    }

                })
                
                // Enable submit button if all fields are filled in
                if (this.userId && this.date && this.time.indexOf('HH') == -1 && this.time.indexOf('mm') == -1 && this.time) {
                    this.isSubmitDisabled = false;
                }
            },
            // API call to submit inspection booking request
            submitInspectionBookingForm() {
                axios.post(this.apiCreateInspectionBookingUrl, { // Call API url with data to be sent
                        booking_date: this.date + ' ' + this.time + ':00', // Combine date and time to be YYYY-MM-DD HH:mm:ss format
                        user_id: this.userId
                    })
                    .then((response) => { // On success API call
                        this.errorMsg = ''; // Remove error message if any from previous submission
                        this.successMsg = response.data.message; // Add and show success message from API response
                        this.time = "HH:mm"; // Clear time to prevent double booking
                        this.enabledMinutes = [];
                        this.isSubmitDisabled = true; // Disable submit button to prevent double booking
                        this.getInspectionBookingUnavailableTimeSlots(); // Call API to get unavailable slot to refresh time slots
                    })
                    .catch((error) => { // On error response from API
                        this.successMsg = ''; // Remove success message if any from previous submission
                        this.errorMsg = error.response.data.errors; // Add and show error message from API response
                    });
            },
            // API call to get unavailable time slots for selected date
            getInspectionBookingUnavailableTimeSlots() {
                axios.get(this.apiGetInspectionBookingUnavailableTimeSlotsUrl, { // Call API url
                        params: { // Data to be sent
                            booking_date: this.date,
                            user_id: this.userId
                        }
                    })
                    .then((response) => { // On success API call
                        this.errorMsg = '';
                        this.unavailableTimeSlots = response.data.data; // Assign data from API to v-model
                        this.enabledHours = [9, 10, 11, 12, 13, 14, 15, 16, 17, 18]; // Default available hours

                        // To check whether the hour is fully booked for both 00 and 30 minutes
                        let previousNumber = 0; // For checking whether the hour comes up twice at same hour
                        this.unavailableTimeSlots.forEach(element => { // Loop through data from API
                            if (previousNumber == element.hour) { // If the next iteration encounter same hour
                                let indexOfHour = this.enabledHours.indexOf(previousNumber);
                                this.enabledHours.splice(indexOfHour, 1); // Remove the hour from available hours array
                            } else {
                                previousNumber = element.hour; // For checking in next iteration purpose
                            }
                        })
                    })
                    .catch((error) => { // On error response from API
                        this.successMsg = '';
                        this.errorMsg = error.response.data.errors; // Add and show error message from API response
                    });
            }
        }
    }
</script>
